* {
  margin: 0;
  font-family: Arial;
  border: border-box;
}

.navbar {
  height: 60px;
  background-color: #0f1111;
  color: rgb(225, 230, 234);
  display: flex;
}

.nav_logo {
  height: 50px;
  width: 100px;
}

.logo {
  background-image: url(/CSS/pics/amazon_logo.png);
  background-size: cover;
  height: 50px;
  width: 100%;
}

.border {
  border: 2px solid transparent;
}

.border:hover {
  border: 1.5px solid white;
}
